{{!
Takes:
@param {Company} company
@param {User} pi    - the creator of the doc
@param {User} contact - the company contact
@param {User} admin - admin of the doc
@param {Document} doc
From Base:
@param {string} supportEmail
}}
{{#extend "base"}}
    {{#content "content"}}
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            Hey {{contact.name}},</p><br>

        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            <a href="https://www.stevens.edu/directory/personnel?query={{pi.name}}"
               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #999999; margin: 0; padding: 0;">{{pi.name}}</a>
            would like to form a <b>{{doc.type}}</b> confidential disclosure agreement with you and your company.
        </p>

        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            Please review the attached document and contact {{admin.name}} at
            <a href="mailto:{{admin.email}}"
               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #999999; margin: 0; padding: 0;">{{admin.email}}
            </a> to continue the process. We hope you come to a happy agreement!
        </p>

        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            There is a new way to manage contracts being created at Stevens Institute of Technology. Join the
            revolution and get first access at
            <a href="http://contracts-go.com"
               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #999999; margin: 0; padding: 0;">
                contracts-go.com
            </a>
        </p>
    {{/content}}
{{/extend}}