{{!
    Takes:
    @param {string} dateString
    @param {string} otherResearchEntities
    @param {Company} company
    @param {Project} project
    @param {PI} pi
}}
<!DOCTYPE html><html><head></head><body>
CONFIDENTIAL DISCLOSURE AGREEMENT – (Mutual)

THIS CONFIDENTIALITY AGREEMENT is made as of the {{dateString}}, by and between {{company.name}}, a {{company.type}} {{company.state}} having its principal offices located at {{company.location}} (the “Company”), and THE

TRUSTEES OF THE STEVENS INSTITUTE OF TECHNOLOGY, a New Jersey non-

profit university, having its principal offices located at One Castle Point on Hudson, 13 th Floor,

Hoboken, New Jersey 07030.

WHEREAS, Stevens engages in various activities as part of its non-profit research and

educational mission which involve {{project.industry}} {{#if otherRearchEntities}} and {{otherResearchEntitites}}{{/if}} and may, from time to time,

involve the exchange of confidential or proprietary information by both parties;

WHEREAS, the parties have determined that they wish to exchange confidential and/or

proprietary information for the purpose of evaluating the possibility of a research or other

relationship between the parties relating to {{project.description}}(the “Project”);

NOW, THEREFORE, in consideration of the mutual promises made herein, the parties

hereby agree as follows:

1. “Discloser” and “Recipient” mean the parties hereto who may be disclosing or

receiving the Confidential Information, as applicable.

2. As used herein, “Confidential Information” means all data, reports,

interpretations, forecasts, records, research samples of any nature, including without limitation,

proprietary software and related intellectual property, proprietary technology, and any other

information (written or oral) regarding the Discloser or any of its affiliates or their respective

research, properties or other activities which is not available to the general public and which the

Discloser or any of its directors, officers, employees, agents or representatives (collectively,

“Representatives”) provides to the Recipient or any of its Representatives.

(b) In order to be treated as Confidential Information, such information or materials

must be marked “confidential” and may only be delivered to an Authorized Person of the other

party. The following persons shall be Authorized Persons for purposes of this Agreement (i) on

behalf of the Company, {{company.name}}, and any person named as an Authorized Person

in writing (which may be email) by {{pi.name}} and (ii) on behalf of Stevens, {{pi.name}}, and any

person named as an Authorized Person in writing (which may be email) by Stevens.

(c) Confidential Information shall not include information that (i) has become

generally available to the public other than as a result of a disclosure by the Recipient or any of

its Representatives, (ii) was available to the Recipient on a non-confidential basis prior to its

disclosure to the Recipient by the Discloser or its Representatives, (iii) was independently

developed by the Recipient or its Representatives, (iv) has become available to the Recipient on

a non-confidential basis from a source other than the Discloser or its Representatives or (v) is

required to be disclosed by applicable law or judicial process.

3. Each party agrees that Confidential Information shall be used only for the

purposes provided herein. The Recipient shall use the same degree of care as it uses with respect

to its own confidential information (but in no event less than a reasonable degree of care) and to

hold Confidential Information in confidence and not disclose Confidential Information to third

parties, or use the Confidential Information except for purposes of this Agreement, in each case

without the written consent of the Discloser for a period of three (3) years from the date of

disclosure. The Recipient may disclose Confidential Information to its Representatives who

have a need to know the Information for purposes of this Agreement. Each such Representative

shall be informed by the Recipient of the confidential nature of such Information and shall be

directed to treat the same in accordance with the provisions of this Agreement.

4. EACH PARTY UNDERSTANDS THAT, EXCEPT AS MAY OTHERWISE BE

EXPRESSLY AGREED IN WRITING, THE DISCLOSER DOES NOT MAKE ANY

REPRESENTATION OR WARRANTY REGARDING THE CONFIDENTIAL

INFORMATION INCLUDING, WITHOUT LIMITATION, ANY REPRESENTATION OR

WARRANTY REGARDING THE ACCURACY, COMPLETENESS OR NON-INFRINGING

STATUS OF THE CONFIDENTIAL INFORMATION.

5. No right or license is granted hereby to the Recipient, expressly or by implication,

with respect to the Confidential Information, or any patent, patent application or other

proprietary right of the Discloser, notwithstanding the termination of the confidentiality

obligations of this Agreement.

6. Each party will, promptly upon the request of the other party, deliver to that Party

any and all documents and materials comprising such party’s Confidential Information or any

part thereof and will destroy any copies, notes or extracts thereof, without retaining any copy

thereof, or destroy such documents and materials upon such party’s request (such destruction to

be confirmed in writing).

7. IN NO EVENT SHALL EITHER PARTY BE LIABLE FOR ANY SPECIAL,

INCIDENTAL, PUNITIVE, INDIRECT OR CONSEQUENTIAL DAMAGES INCLUDING

LOSS OF ECONOMIC ADVANTAGE, BUSINESS, PROFITS, DATA OR INACCURACY

OF DATA IN CONNECTION WITH OR ARISING OUT OF THIS AGREEMENT

WHETHER OR NOT A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH

DAMAGES AND REGARDLESS OF THE FORM OF ACTION OR LEGAL THEORY

(WHETHER IN CONTRACT OR IN TORT INCLUDING STRICT TORT LIABILITY OR

BASED UPON A WARRANTY) UNDER WHICH THE LIABILITY MAY BE ASSERTED.

8. This Agreement shall be governed and construed in accordance with the laws of

the State of New Jersey, without giving effect to its conflict of laws principles or rules. Each

party hereby irrevocably and unconditionally consents to the exclusive jurisdiction of the courts

of the State of New Jersey and of the United States of America located in New Jersey for any

actions, suits or proceedings arising out of or relating to this Agreement, and further agrees that

service of any process, summons, notice or document by U.S. certified mail to its address set

forth in the preamble to this Agreement shall be effective service of process for any action, suit

or proceeding brought against it in any such court.

9. This Agreement contains the entire understanding between the parties. It

supersedes all prior or contemporaneous communications, agreements or understandings

between the parties about the exchange and protection of Confidential Information provided

under this Agreement. If any of the provisions of this Agreement are not enforceable in whole or

in part, the remaining provisions of this Agreement shall not be affected thereby. No failure or

delay in exercising any other right, power or privilege hereunder shall operate as a waiver

thereof, nor shall any single or partial exercise thereof preclude any other or further exercise

thereof or the exercise of any other right, power or privilege hereunder. Neither party may

assign this Agreement without the prior written consent of the other party hereto. No

amendment or modification to this Agreement shall be effective unless made in writing and

signed by both parties. This Agreement may be signed in separate counterparts which, together,

shall constitute one and the same agreement.

10. This Agreement does not constitute an export license, and each party remains

responsible for its own compliance with any restrictions or other requirements imposed by any

and all export control statutes, regulations, and other requirements.

{{> signPartial}}
</body></html>